@model Oferta

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Oferta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DsEspecie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DsEspecie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DsQuantidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DsQuantidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VlPreco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VlPreco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DsStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DsStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Encontro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Encontro.CdEncontro)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CdOferta">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
