@model Captura

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Captura</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DsQuantidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DsQuantidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DsPeso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DsPeso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DsFoto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DsFoto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Especie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Especie.CdEspecie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pescaria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pescaria.CdPescaria)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CdCaptura">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
